{% extends "admin/base_site.html" %}
{% load static %}
{% block content %}
<div class="content">
    <h1>Send Text Confirmation - {{ event.title }} on {{ event.datetime | date }}</h1>
    <form method="post">
    {% csrf_token %}
        <div class="flex-container-custom">
            <div class="message-box">
                <label for="custom_message">Customize the message (optional):</label>
                <textarea id="custom_message" name="custom_message">
Hello {name},

Great news! Your application to volunteer as a {volunteer_position} for the {event} on {date} has been approved. We look forward to your participation.
</textarea>
                <p class="text-muted">
                    <strong>NOTE: each message ends with the following:</strong> <br><i>By clicking this link you confirm your participation: {magic_link} – (Optional)<br>Warm regards,<br>Welfare Avenue Team</i>
                </p>
            </div>
            <div class="variables-box">
                <p>Optional Variables: name, event, date, volunteer_position<br>
                To use a variable, it has to be between curly braces e.g. {name}</p>
                <ul class="variables-list">
                    <li>name - volunteer's name</li>
                    <li>event - event's title</li>
                    <li>date - event's date e.g 2023-10-29</li>
                    <li>volunteer_position - volunteer's position e.g. Cook</li>
                </ul>
            </div>
        </div>
        <h2>Select Volunteers</h2>
    <table class="table-container">
    <tbody>
        {% for position, group in assignments_grouped.items %}
            <tr>
            <td colspan="5" class="category-header">{{ position }}</td>
            </tr>
            {% for assignment in group %}
                    <tr>
                   <td>{{ forloop.counter }}</td>
                    <td>
                        <input type="checkbox" name="assignments" value="{{ assignment.id }}" class="volunteer-checkbox">
                        {{ assignment.volunteer.name }} ({{ assignment.assigned_position }})
                        {% if assignment.waitlist_participation %}
                        <span class="not-approved">Wait Listed</span>
                        {% endif %}
                    </td>
                    {% if assignment.approve_participation %}
                    <td class='approved'>
                    {% else %}
                    <td class='not-approved'>
                    {% endif %}
                        {% if assignment.approve_participation %}
                            Staff Approved
                        {% else %}
                            Staff Has Not Approved
                        {% endif %}
                    </td>
                    {% if assignment.confirmation_message_sent %}
                    <td class='approved'>
                    {% else %}
                    <td class='not-approved'>
                    {% endif %}
                        {% if assignment.confirmation_message_sent %}
                            Confirmation Link Sent
                        {% else %}
                            Confirmation Link Has Not Been Sent
                        {% endif %}
                    </td>
                    {% if assignment.confirm_participation %}
                    <td class='approved'>
                    {% else %}
                    <td class='not-approved'>
                    {% endif %}
                        {% if assignment.confirm_participation %}
                            Volunteer Confirmed
                        {% else %}
                            Volunteer Has Not Confirmed
                        {% endif %}
                    </td>
                    </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
        <div class="magic-link-container">
            <label>
                <input type="checkbox" name="send_magic_link" />
                <strong>Send Confirmation Link</strong>
            </label>
            <p class="text-muted">e.g. Please confirm your participation using this link: {magic_link}
        </div>

        <input type="hidden" name="event_id" value="{{ event.id }}" />
        <input type="submit" name="confirm_send" value="Yes, send texts" id="submitButton" disabled />
        <a href="{% url 'admin:api_volunteeringevents_changelist' %}">Cancel</a>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.volunteer-checkbox');
        const submitButton = document.getElementById('submitButton');

        function updateSubmitButtonState() {
            const isAnyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            submitButton.disabled = !isAnyChecked;
        }

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', updateSubmitButtonState);
        });
    });
</script>
{% endblock %}
